# Compiled class file
*.class

# Log file
*.log

# Eclipse files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# c++ stuff
.vs/
assets/
Debug/
x64/
*.dll
*.o
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

